# Rust
target/
Cargo.lock

# Node
frontend/node_modules/
frontend/dist/

# Tauri
src-tauri/target/

# Database
*.db
*.duckdb

# testing csvs
test_data/*.csv

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local